* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter';
  color: #1d1d1f;
}

.container{
    margin: auto;
}

.nav-hero{
    background: #F3FCF7;
}

/* Navbar*/
.nav-container{
    padding: 42px 10px 32px 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;

}

.logo{
    color: #06C167;
    font-size: 32px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color:#1d1d1f;
  font-size: 16px;
  font-weight: 400;
  
}

.nav-menu .home{
    color: #06C167;
    font-weight: 600;
}


/* Hero */
.hero-container {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 100px;
  margin-bottom: 0;

}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 45%;
}
.text {
    font-size: 75px;
    font-weight: 600;
}

.hero-text p{
    font-size: 16px;
    color:#1D1D1FBF;
    font-weight: 400;
}


.hero-text button{
    
    background: #06C167;
    max-width:200px;
    font-size: 16px;
    padding: 18px;
    border: 1px solid #06C167;
    border-radius: 10px;
    
}

.hero-text a{
    text-decoration: none;
    color: #ffffff;
}
.hero-image{
    width: 35%;
    padding-left: 20px;
}

.hero-image img {
  width: 100%;
}

.partners{
    width: 80%;
    margin:auto;
    padding: 60px 0;
}

.partner-logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
}

.partners img{
    width: 215px;
    height: 50px;
}


/* Features */

.features-container{
    width: 80%;
    margin:auto;
    border-top: 1.5px solid rgba(112, 112, 112, 0.15);
    border-bottom: 1.5px solid rgba(112, 112, 112, 0.15);
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 60px 0;
}

.feature-item{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon{
    background: #F3FCF7;
    padding: 20px;
    border: 1px solid #F3FCF7;
    border-radius: 8px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.feature-item .heading{
    font-size: 18px;
    font-weight: 400;
}

.feature-item p{
    font-size: 14px;
    font-weight: 500;
    color: #1D1D1FBF;
}

/*Benifit*/

.benifit-container{
    width: 80%;
    margin:auto;
    display: flex;
    padding: 60px 0;
    gap: 100px;
    align-items: center;
}

.benifit-container .image{
    max-width: 42%;
    background: #F3FAFB;
    border-radius: 24px;
    margin-left: 20px;

}

.image img{
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 12px;
}


.benifits{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.benifits .subtle{
    font-size: 15px;
    font-weight: 500;
    color: #1d1d1f;

}

.benifits .heading{
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 32px;
}

.benifit-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benifit-item .item{
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.benifit-item .item p{
    font-size: 16px;
    font-weight: 500;
}

/* Stars */

.star-container{
    width: 80%;
    margin:auto;
    display: flex;
    padding: 60px 0;
    gap: 100px;
    align-items: center;
}

.star-container .star-image{
    max-width: 40%;
    background: #F3FAFB;
}

.star-image img{
    width: 100%;
    height: auto;
    padding:0 0 60px 60px;
}

.stars{
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.stars .subtle{
    font-size: 15px;
    font-weight: 500;
    color: #1d1d1f;

}

.stars .heading{
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 32px;
}

.star-item{
    display: flex;
    gap: 40px;
}

.star-item .item{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.star-item .number{
    font-size: 40px;
    font-weight: 600;
    color: #06C167;
}

.star-item .name{
    font-size: 15px;
    font-weight: 400;
    color: #1d1d1fbf;
}

.star-button button{
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    background: #06C167;
    border: 1px solid #06C167;
    border-radius: 8px;
}

.star-button a{
    text-decoration: none;
    color: #ffffff;
    

}

/* Products */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .feature-grid,
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .feature-grid,
  .product-grid {
    grid-template-columns: 1fr;
  }
}


